// Navigation
@keyframes hue-rotate {
  0%{
    filter: saturate(80%);
    background: linear-gradient(-90deg, $insta-purple 5%, $insta-red 50%);
  }
  50%{
    filter: saturate(95%);
    background: linear-gradient(-90deg, $insta-purple 25%, $insta-red 70%);
  }
  100%{
    filter: saturate(80%);
    background: linear-gradient(-90deg, $insta-purple 5%, $insta-red 100%);
  }
}

nav#login-navbar {
    .nav-wrapper{
        animation: hue-rotate 5s linear infinite;

        .brand-logo{
            font-family: 'Satisfy', sans-serif;
        }
        li{
          a.btn{
            &:hover{
                background-color: rgba(white, .3) !important;
                box-shadow: 3px 3px 3px rgba(black, .3);
                text-shadow: 2px 2px 2px rgba(black, .3);
            }
            border: 1px solid white;
            border-radius: 5%;
            box-shadow: none;
          }
        }
    }
}
